/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto !important;
}

body {
  background-color: #fafafa !important;
}
body .wrap {
  max-width: 1200px;
  height: auto;
  margin: auto;
  background-color: white;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.08);
}

.header.is-active {
  position: sticky;
  top: 0px;
  z-index: 100;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 15px;
}
@media (max-width: 900px) {
  .header .top {
    display: none;
  }
}
.header .top .header-img {
  padding: 0px 15px;
}
.header .top .header-img .elitmob-icon {
  transition: all 0.25s ease;
}
.header .top .header-img .elitmob-icon:hover {
  transform: scale(1.05);
}
.header .top .header-img .tbc-logo {
  width: 50px;
  transition: all 0.25s ease;
}
.header .top .header-img .tbc-logo:hover {
  transform: scale(1.1);
}
.header .top .header-img .tbc-logo2 {
  margin-bottom: 25px;
}
.header .top ul {
  display: flex;
  margin-bottom: 0px;
}
.header .top ul a {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  padding: 0px 10px;
  color: #333333;
  transition: all 0.25s ease;
}
.header .top ul a:hover {
  color: #8e03a4;
}
.header .top ul .header-main {
  color: #8e03a4 !important;
}
.header .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  padding: 0px 20px;
  background-color: #8e03a4;
}
@media (max-width: 900px) {
  .header .bottom {
    display: none;
  }
}
.header .bottom ul {
  display: flex;
  margin-bottom: 0px;
}
.header .bottom ul a {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: white;
  padding: 0px 10px;
  transition: all 0.25s ease;
}
.header .bottom ul a:hover {
  color: lightgray;
}
.header .bottom form {
  position: relative;
}
.header .bottom form input {
  border: 2px solid rgba(129, 129, 129, 0.2);
  height: 30px;
  border-radius: 30px;
  width: 290px;
}
.header .bottom form input:focus {
  outline: none;
}
.header .bottom form button {
  position: absolute;
  background-color: #8e03a4;
  color: #FFF;
  border: 2px solid rgba(129, 129, 129, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 52px;
  padding-left: 5px;
  font-size: 18px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.25s ease;
}
.header .bottom form button:hover {
  background-color: purple;
}
.header .bottom form ::-moz-placeholder {
  padding-left: 12px;
  font-size: 16px;
}
.header .bottom form ::placeholder {
  padding-left: 12px;
  font-size: 16px;
}
.header .responsive-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  border-color: rgba(129, 129, 129, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px 15px;
}
@media (max-width: 900px) {
  .header .responsive-header {
    display: flex;
  }
}
.header .responsive-header .burger-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  color: #333333;
  position: relative;
  cursor: pointer;
  z-index: 99;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
.header .responsive-header .burger-menu .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1px 10px 1px 0px;
}
.header .responsive-header .burger-menu .hamburger .bar, .header .responsive-header .burger-menu .hamburger:before, .header .responsive-header .burger-menu .hamburger:after {
  display: block;
  content: "";
  width: 18px;
  height: 2px;
  background-color: #333333;
  border-radius: 5px;
  transition: all 0.5s ease;
  margin-bottom: 4px;
}
.header .responsive-header .burger-menu .hamburger.is-active:after {
  transform: rotate(45deg) translate(-7px, 0px);
  transition: all 0.5s ease;
}
.header .responsive-header .burger-menu .hamburger.is-active:before {
  transform: rotate(-45deg) translate(-9px, 1px);
  transition: all 0.5s ease;
}
.header .responsive-header .burger-menu .hamburger.is-active .bar {
  opacity: 0;
  transition: all 0.5s ease;
}
.header .responsive-header .burger-menu .menu {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}
.header .responsive-header .icon img {
  max-width: 140px;
  max-height: 60px;
  padding: 5px 0px;
  transition: all 0.25s ease;
}
.header .responsive-header .icon .tbc-logo {
  width: 35px;
}
.header .responsive-header .icon .tbc-logo2 {
  margin-bottom: 10px;
}
.header .responsive-header .icon .elitmob-icon:hover {
  transform: scale(1.05);
}
.header .responsive-header .icon .tbc-logo:hover {
  transform: scale(1.1);
}
.header .responsive-header .search {
  padding: 0px 10px;
}
.header .responsive-header .search .search-icon {
  font-size: 18px;
  color: #333333;
  transition: all 0.25s linear;
}
.header .responsive-header .search .search-icon:hover {
  transform: scale(1.1);
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 100%;
  width: 45%;
  min-height: 100vh;
  z-index: 98;
  background-color: white;
  padding-top: 70px;
  transition: all 0.5s ease;
}
.mobile-nav a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 13px;
  line-height: 1.3;
  width: 100%;
  margin: 0 auto 16px;
  padding: 10px 16px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  color: #2d2a2a;
  letter-spacing: 0.2px;
}
.mobile-nav a:hover {
  color: #8e03a4;
}
.mobile-nav .header-main {
  color: #8e03a4 !important;
}

.mobile-nav.is-active {
  overflow: hidden;
  right: 55%;
}
@media (max-width: 900px) {
  .mobile-nav.is-active {
    display: block;
  }
}

.index-main .carousel {
  margin: 25px 0px;
}
@media (max-width: 900px) {
  .index-main .carousel ol {
    display: none;
  }
}
.index-main .section2 {
  margin: 50px 0px;
}
.index-main .section2 .images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .index-main .section2 .images {
    display: none;
  }
}
.index-main .section2 .images div {
  text-align: center;
  width: 300px;
  padding: 50px;
}
.index-main .section2 .images img {
  max-width: 70px;
}
.index-main .section2 .images h4 {
  font-weight: 600;
  font-size: 15px;
  color: #777777;
  margin: 0px;
}
.index-main .section2 .images p {
  color: #777777;
  font-size: 15px;
}
.index-main .section2 .phones-text h1 {
  color: #2d2a2a;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin: 60px 0px;
}
.index-main .section3 .section-3-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.index-main .section3 .section-3-div div {
  margin: 30px 0px;
  text-align: center;
  transition: all 0.25s ease;
  max-width: 255px;
}
.index-main .section3 .section-3-div div img {
  max-width: 255px;
  transition: all 0.25s ease;
}
.index-main .section3 .section-3-div div img:hover {
  transform: scale(1.05);
}
.index-main .section3 .section-3-div div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 20px 0px;
  margin: 0px;
  transition: all 0.25s linear;
}
.index-main .section3 .section-3-div div p:hover {
  color: #777777;
}
.index-main .section3 .section-3-div div h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #8e03a4;
  margin: 0px;
  transition: all 0.25s linear;
}
.index-main .section3 .section-3-div div h2:hover {
  transform: scale(1.02);
}

.footer {
  width: 100%;
  background-color: #e5e5e5;
}
.footer .footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 35px;
  height: 95px;
  border-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 900px) {
  .footer .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 145px;
  }
}
.footer .footer-image img {
  height: 55px;
  transition: all 0.25s ease;
}
.footer .footer-image img:hover {
  transform: scale(1.03);
}
.footer .footer-location p {
  color: #929292;
  font-size: 15px;
  margin-top: 10px;
}

.scroll-on-top {
  color: #333;
  font-size: 0;
  transition: all 1s ease;
}
.scroll-on-top i {
  font-size: 25px;
  margin-top: 10px;
  color: #333333;
  transition: all 0.25s ease;
}

.scroll-on-top:hover i {
  transform: scale(1.15);
}

.scroll-button {
  position: fixed;
  right: -50px;
  bottom: 12px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  text-align: center;
  transition: all 0.3s ease;
}

.scroll-button.is-scrolling {
  right: 12px;
}

.scroll-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.about-us-main article {
  padding: 0px 15px;
  margin: 40px 0px;
}
.about-us-main article p {
  color: #777777;
  font-size: 16px;
  line-height: 25px;
}

.contact-main .contact-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 40px 0px;
  padding: 0px 20px;
}
@media (max-width: 800px) {
  .contact-main .contact-section-1 {
    flex-direction: column;
    align-items: center;
  }
}
.contact-main .left {
  min-width: 350px;
  padding: 0px 20px;
}
@media (max-width: 800px) {
  .contact-main .left {
    text-align: center;
  }
}
.contact-main .left .text h1 {
  font-size: 22px;
  font-weight: 600;
  color: #2d2a2a;
  margin-bottom: 20px;
}
.contact-main .left .text li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #777777;
}
.contact-main .left .text span {
  font-weight: 600;
}
.contact-main .left .text a {
  color: #777777;
  transition: all 0.25s ease;
}
.contact-main .left .text a:hover {
  color: #9d03a4;
}
.contact-main .left .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.contact-main .left .icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff !important;
  margin: 5px;
}
.contact-main .left .icons .facebook {
  background-color: #365493;
  transition: all 0.25s ease;
}
.contact-main .left .icons .facebook:hover {
  background-color: #2e487e;
}
.contact-main .left .icons .twitter {
  background-color: #3CF;
  transition: all 0.25s ease;
}
.contact-main .left .icons .twitter:hover {
  background-color: #2cafdb;
}
.contact-main .left .icons .pinterest {
  background-color: #CB2027;
  transition: all 0.25s ease;
}
.contact-main .left .icons .pinterest:hover {
  background-color: #ae1b21;
}
.contact-main .left .icons .linkedin {
  background-color: #0274B3;
  transition: all 0.25s ease;
}
.contact-main .left .icons .linkedin:hover {
  background-color: #02649a;
}
.contact-main .left .icons .telegram {
  background-color: #37AEE2;
  transition: all 0.25s ease;
}
.contact-main .left .icons .telegram:hover {
  background-color: #2f95c2;
}
.contact-main .right {
  width: 100%;
  padding: 0px 20px;
}
@media (max-width: 1000px) {
  .contact-main .right {
    padding: 0px;
  }
}
.contact-main .right .iframe {
  width: 100%;
}

.news-section-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0px 80px;
}
.news-section-wrapper .section-div:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.news-section-wrapper .section-div {
  max-width: 370px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.35s ease;
  position: relative;
}
.news-section-wrapper .section-div .date {
  position: absolute;
  background-color: white;
  padding: 10px;
  top: 10px;
  left: 10px;
  z-index: 2;
  text-align: center;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
}
.news-section-wrapper .section-div .date p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #333333;
}
.news-section-wrapper .section-div .date h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}
.news-section-wrapper .section-div .img-wrap {
  width: 370px;
  height: auto;
  overflow: hidden;
}
.news-section-wrapper .section-div .img-wrap img {
  width: 100%;
  transition: all 0.25s ease;
}
.news-section-wrapper .section-div .img-wrap img:hover {
  transform: scale(1.05);
}
.news-section-wrapper .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px 0px;
  position: relative;
}
.news-section-wrapper .text-wrap .news-button {
  position: absolute;
  z-index: 2;
  padding: 5px;
  background-color: #8e03a4;
  top: -15px;
  left: 140px;
}
.news-section-wrapper .text-wrap .news-button p {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.5px;
  color: #fff;
  transition: all 0.4s ease;
}
.news-section-wrapper .text-wrap .news-button p:hover {
  color: #e0bae6;
}
.news-section-wrapper .text-wrap h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: #2d2a2a;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}
.news-section-wrapper .text-wrap h1:hover {
  color: purple;
}
.news-section-wrapper .text-wrap i {
  padding: 15px 0px;
}
.news-section-wrapper .text-wrap p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #777777;
  text-align: center;
  letter-spacing: 1px;
}
.news-section-wrapper .text-wrap .continiue {
  font-weight: 600;
  padding: 15px 0px;
  transition: all 0.5s ease;
}
.news-section-wrapper .text-wrap .continiue {
  color: #8e03a4;
}
.news-section-wrapper .text-wrap .continiue:hover {
  color: #800080;
}
.news-section-wrapper .ios17 {
  margin: 0px 10px -20px;
}
.news-section-wrapper .new-device {
  margin: 0px 10px 20px;
}
.news-section-wrapper .new-audi {
  margin: -45px 10px 0px;
}
.news-section-wrapper .samsung-ring {
  margin: 0px 10px -20px;
}
.news-section-wrapper .apple-2022 {
  margin: -70px 10px;
}
.news-section-wrapper .apple-store {
  margin: 0px 10px 0px;
}
@media (max-width: 1156px) {
  .news-section-wrapper .ios17 {
    margin: -70px 10px 0px;
  }
  .news-section-wrapper .new-device {
    margin: 0px 10px 20px;
  }
  .news-section-wrapper .new-audi {
    margin: 25px 10px 0px;
  }
  .news-section-wrapper .samsung-ring {
    margin: 0px 10px 0px;
  }
  .news-section-wrapper .apple-2022 {
    margin: 0px 10px;
  }
  .news-section-wrapper .apple-store {
    margin: -95px 10px 0px;
  }
}
@media (max-width: 796px) {
  .news-section-wrapper .section-div {
    margin: 15px 0px;
  }
}

.wrapper .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.wrapper .title h1 {
  font-weight: 600;
  font-size: 34px;
  margin: 40px 30px;
  color: #2d2a2a;
}
.wrapper .phones .phones-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.wrapper .phones .phones-div div {
  margin: 30px 0px;
  text-align: center;
  transition: all 0.25s ease;
  max-width: 360px;
}
.wrapper .phones .phones-div div img {
  max-width: 360px;
  transition: all 0.25s ease;
}
.wrapper .phones .phones-div div img:hover {
  transform: scale(1.05);
}
.wrapper .phones .phones-div div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding: 20px 0px;
  margin: 0px;
  transition: all 0.25s linear;
}
.wrapper .phones .phones-div div p:hover {
  color: #777777;
}
.wrapper .phones .phones-div div h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #8e03a4;
  margin: 0px;
  transition: all 0.25s linear;
}
.wrapper .phones .phones-div div h2:hover {
  transform: scale(1.02);
}

.phones-main .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
.phones-main .section1 .phones-carousel {
  max-width: 550px;
  width: 100%;
}
.phones-main .section1 .phones-carousel img {
  max-width: 450px;
  width: 100%;
  transition: all 0.3s ease;
}
.phones-main .section1 .phones-carousel img:hover {
  transform: scale(1.05);
}
.phones-main .section1 .phones-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 70px;
}
.phones-main .section1 .phones-information .text {
  width: 600px;
}
.phones-main .section1 .phones-information .text h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  color: #2d2a2a;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .phones-main .section1 .phones-information .text h1 {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .phones-main .section1 .phones-information .text h1 {
    font-size: 20px;
  }
}
.phones-main .section1 .phones-information .text p {
  padding: 5px 0px;
}
.phones-main .section1 .phones-information .text .top .storage {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #222222;
}
.phones-main .section1 .phones-information .text .top .in-storage {
  color: green;
}
.phones-main .section1 .phones-information .text .top .condition-p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #222222;
}
.phones-main .section1 .phones-information .text .top .condition-p span {
  font-weight: 600;
}
.phones-main .section1 .phones-information .text .bottom {
  border-top: 1px dashed #dedede;
  padding-top: 10px;
  margin-top: 30px;
  text-align: left;
}
.phones-main .section1 .phones-information .text .bottom .with-phone {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #777777;
  margin-bottom: 20px;
}
.phones-main .section1 .phones-information .text .bottom .usb {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  color: #777777;
}
.phones-main .section1 .phones-information .text .bottom .screen-protector {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  color: #000000;
  margin-bottom: 20px;
}
.phones-main .section1 .phones-information .text .bottom .delivery {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  color: #000000;
  margin-bottom: 20px;
}
.phones-main .section1 .phones-information .condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.phones-main .section1 .phones-information .condition button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  transition: all 0.4s ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}
.phones-main .section1 .phones-information .condition button div {
  width: 250px;
  height: 100px;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 5px 0px;
  transition: all 0.4s ease;
}
.phones-main .section1 .phones-information .condition button div h1 {
  color: #777777;
  font-weight: bold;
  transition: all 0.4s ease;
}
.phones-main .section1 .phones-information .condition button div h2 {
  color: #777777;
  font-weight: bold;
  transition: all 0.4s ease;
}
.phones-main .section1 .phones-information .condition button div p {
  color: #777777;
  font-weight: bold;
  transition: all 0.4s ease;
}
.phones-main .section1 .phones-information .condition button .left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -1px;
  border-radius: 5px 0px 0px 5px;
}
.phones-main .section1 .phones-information .condition button .left h1 {
  font-size: 50px;
}
.phones-main .section1 .phones-information .condition button .left p {
  font-size: 12px;
  max-width: 150px;
}
.phones-main .section1 .phones-information .condition button .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 0px 5px 5px 0px;
}
.phones-main .section1 .phones-information .condition button .right h2 {
  font-size: 20px;
}
.phones-main .section1 .phones-information .condition button:hover div {
  background-color: #8e03a4;
}
.phones-main .section1 .phones-information .condition button:hover h1 {
  color: #fff;
}
.phones-main .section1 .phones-information .condition button:hover h2 {
  color: #fff;
}
.phones-main .section1 .phones-information .condition button:hover p {
  color: #fff;
}
.phones-main .section1 .phones-information .condition .price-btn.clicked div {
  background-color: #8e03a4;
}
.phones-main .section1 .phones-information .condition .price-btn.clicked h1 {
  color: #fff;
}
.phones-main .section1 .phones-information .condition .price-btn.clicked h2 {
  color: #fff;
}
.phones-main .section1 .phones-information .condition .price-btn.clicked p {
  color: #fff;
}
.phones-main .section1 .phones-information .payment .payment-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #777777;
  text-align: center;
  margin: 25px;
}
.phones-main .section1 .phones-information .payment .payment-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.phones-main .section1 .phones-information .payment .payment-images img {
  border: 1px solid #dedede;
  height: 50px;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}
.phones-main .section1 .phones-information .payment .payment-images .bog {
  background-color: #ff600a;
}
.phones-main .section1 .phones-information .payment .payment-images img:hover {
  transform: scale(1.1);
}
@media (max-width: 1000px) {
  .phones-main .section1 {
    flex-wrap: wrap;
  }
  .phones-main .phones-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .phones-main .phones-carousel img {
    margin-top: 70px;
  }
  .phones-main .phones-information {
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .phones-main p {
    text-align: center;
  }
}
.phones-main .section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  border-top: 1px solid rgba(129, 129, 129, 0.2);
  padding-top: 40px;
}
.phones-main .section2 .section-2-text {
  width: 100%;
  max-width: 1160px;
  border-top: 2px solid rgba(119, 119, 119, 0.17);
  border-bottom: 1px solid rgba(119, 119, 119, 0.17);
  margin: 0px 20px 10px;
}
.phones-main .section2 .section-2-text h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  display: block;
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.35s ease;
}
.phones-main .section2 .section-2-text h1:hover {
  color: #8e03a4;
}
.phones-main .section2 .comment-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.phones-main .section2 .comment-div .left .left-div {
  max-width: 500px;
  width: 100%;
  height: auto;
  border: 2px dashed #dedede !important;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px;
}
.phones-main .section2 .comment-div .left .comment-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.phones-main .section2 .comment-div .left .comment-wrap .img-div {
  border: 2px solid #dedede !important;
  border-radius: 3px !important;
  padding: 4px 4px 0px;
  margin: 0px 25px 0px 0px;
}
.phones-main .section2 .comment-div .left .comment-wrap .img-div img {
  max-width: 50px;
}
.phones-main .section2 .comment-div .left .comment-wrap .text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 350px;
}
.phones-main .section2 .comment-div .left .comment-wrap .text-wrap p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #777;
  margin: 8px 0px;
}
.phones-main .section2 .comment-div .left .comment-wrap .text-wrap strong {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #2d2a2a;
}
.phones-main .section2 .comment-div .left .comment-wrap .text-wrap span {
  font-style: italic;
}
.phones-main .section2 .comment-div .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: 100px;
}
.phones-main .section2 .comment-div .right .description h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #777;
}
.phones-main .section2 .comment-div .right .comment-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 25px 0px;
}
.phones-main .section2 .comment-div .right .comment-text textarea {
  width: 100%;
  max-width: 570px;
  font-size: 14px;
  transition: border-color 0.5s ease;
  overflow: auto;
  padding: 10px 15px;
  min-height: 190px;
  border-radius: 10px;
  border: 2px dashed #dedede;
}
.phones-main .section2 .comment-div .right .comment-text textarea:focus {
  outline: none;
}
.phones-main .section2 .comment-div .right .user-mail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.phones-main .section2 .comment-div .right .user-mail .input-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 48%;
}
.phones-main .section2 .comment-div .right .user-mail .input-text label {
  color: #464646;
  font-size: 16px;
  margin-bottom: 15px;
}
.phones-main .section2 .comment-div .right .user-mail .input-text input {
  border-radius: 10px;
  border: 2px dashed #dedede;
  padding: 0 15px;
  width: 100%;
  height: 42px;
  transition: border-color 0.5s ease;
}
.phones-main .section2 .comment-div .right .user-mail .input-text input:focus {
  outline: none;
}
.phones-main .section2 .comment-div .right .bottom-text {
  margin-top: 20px;
}
.phones-main .section2 .comment-div .right .bottom-text label {
  color: #464646;
  font-size: 16px;
  margin-bottom: 14px;
}
.phones-main .section2 .comment-div .right .bottom-text .submit {
  padding: 12px 20px;
  margin: 10px 5px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: #8e03a4;
  border-radius: 3px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
.phones-main .section2 .comment-div .right .bottom-text input:hover {
  background-color: purple;
  transform: scale(1.05);
}
.phones-main .section2 .comment-div .right span {
  color: #E01020;
  font-size: 16px;
}

.audi-5-g-main section {
  width: 100%;
}
.audi-5-g-main section .title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.audi-5-g-main section .title p {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.3px;
  padding: 6px 12px;
  margin: 25px;
  background-color: #8e03a4;
  color: white;
  transition: all 0.25s ease;
}
.audi-5-g-main section .title p:hover {
  color: #e8cded;
}
.audi-5-g-main section .title h1 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  color: #2d2a2a;
}
@media (max-width: 1024px) {
  .audi-5-g-main section .title h1 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .audi-5-g-main section .title h1 {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .audi-5-g-main section .title h1 {
    font-size: 20px;
  }
}
.audi-5-g-main section .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.audi-5-g-main section .image .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 95%;
}
.audi-5-g-main section .image .date {
  position: absolute;
  background-color: white;
  padding: 10px 15px;
  top: 15px;
  left: 15px;
  text-align: center;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
}
.audi-5-g-main section .image .date p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #333333;
}
.audi-5-g-main section .image .date h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}
.audi-5-g-main section .image img {
  max-width: 100%;
}
.audi-5-g-main section .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0px 10px;
}
.audi-5-g-main section .description p {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #777777;
  text-align: center;
  max-width: 1090px;
  padding: 0px 0px 35px;
}
.audi-5-g-main section .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 0px 25px;
}
.audi-5-g-main section .icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #37AEE2;
  color: #ffffff !important;
  margin: 5px;
}
.audi-5-g-main section .icons .facebook {
  background-color: #365493;
  transition: all 0.25s ease;
}
.audi-5-g-main section .icons .facebook:hover {
  background-color: #2e487e;
}
.audi-5-g-main section .icons .twitter {
  background-color: #3CF;
  transition: all 0.25s ease;
}
.audi-5-g-main section .icons .twitter:hover {
  background-color: #2cafdb;
}
.audi-5-g-main section .icons .pinterest {
  background-color: #CB2027;
  transition: all 0.25s ease;
}
.audi-5-g-main section .icons .pinterest:hover {
  background-color: #ae1b21;
}
.audi-5-g-main section .icons .linkedin {
  background-color: #0274B3;
  transition: all 0.25s ease;
}
.audi-5-g-main section .icons .linkedin:hover {
  background-color: #02649a;
}
.audi-5-g-main section .icons .telegram {
  background-color: #37AEE2;
  transition: all 0.25s ease;
}
.audi-5-g-main section .icons .telegram:hover {
  background-color: #2f95c2;
}

.services-main .services-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  flex-wrap: wrap;
  max-width: 800px;
}
.services-main .services-section .div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  outline: 1px dotted gray;
  margin: 10px;
}
.services-main .services-section .div .image img {
  width: 186px;
}
.services-main .services-section .div .description h2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  color: #0a0a0a;
  letter-spacing: 0.5px;
}
.services-main .services-section .div .description p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  line-height: 2;
  color: #000000;
  letter-spacing: 0.3px;
}/*# sourceMappingURL=styles.css.map */