/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto !important;
}

body {
  background-color: #ffffff;
}
body .wrap {
  max-width: 1200px;
  height: auto;
  margin: auto;
  background-color: white;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.08);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
.header .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 15px;
}
@media (max-width: 900px) {
  .header .top {
    display: none;
  }
}
.header .top .header-img {
  padding: 0px 15px;
}
.header .top ul {
  display: flex;
  margin-bottom: 0px;
}
.header .top ul a {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: auto;
  padding: 0px 10px;
  color: #333333;
  transition: all 0.25s ease;
}
.header .top ul a:hover {
  color: #8e03a4;
}
.header .top ul .header-main {
  color: #8e03a4 !important;
}
.header .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 50px;
  padding: 0px 20px;
  background-color: #8e03a4;
}
@media (max-width: 900px) {
  .header .bottom {
    display: none;
  }
}
.header .bottom ul {
  display: flex;
  margin-bottom: 0px;
}
.header .bottom ul a {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: auto;
  color: white;
  padding: 0px 10px;
  transition: all 0.25s ease;
}
.header .bottom ul a:hover {
  color: lightgray;
}
.header .bottom form {
  position: relative;
}
.header .bottom form input {
  border: 2px solid rgba(129, 129, 129, 0.2);
  height: 30px;
  border-radius: 30px;
  width: 290px;
}
.header .bottom form button {
  position: absolute;
  background-color: #8e03a4;
  color: #FFF;
  border: 2px solid rgba(129, 129, 129, 0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 52px;
  padding-left: 5px;
  font-size: 18px;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.25s ease;
}
.header .bottom form button:hover {
  background-color: purple;
}
.header .bottom form ::-moz-placeholder {
  padding-left: 12px;
  font-size: 16px;
}
.header .bottom form ::placeholder {
  padding-left: 12px;
  font-size: 16px;
}
.header .responsive-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: none;
  border-color: rgba(129, 129, 129, 0.2);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px 15px;
}
@media (max-width: 900px) {
  .header .responsive-header {
    display: flex;
  }
}
.header .responsive-header .burger-menu a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  color: #333333;
}
.header .responsive-header .burger-menu .burger-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1px 10px 1px 0px;
}
.header .responsive-header .burger-menu .burger {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: #333333;
  border-radius: 5px;
}
.header .responsive-header .burger-menu .menu {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: auto;
}
.header .responsive-header .icon img {
  max-width: 140px;
  max-height: 60px;
  padding: 5px 0px;
}
.header .responsive-header .search {
  padding: 0px 10px;
}
.header .responsive-header .search .search-icon {
  font-size: 18px;
  color: #333333;
}

.index-main .carousel {
  margin: 25px 0px;
}
@media (max-width: 900px) {
  .index-main .carousel ol {
    display: none;
  }
}
.index-main .section2 {
  margin: 50px 0px;
}
.index-main .section2 .images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.index-main .section2 .images div {
  text-align: center;
  width: 300px;
  padding: 50px;
}
.index-main .section2 .images img {
  max-width: 70px;
}
.index-main .section2 .images h4 {
  font-weight: 600;
  font-size: 15px;
  color: #777777;
  margin: 0px;
}
.index-main .section2 .images p {
  color: #777777;
  font-size: 15px;
}
.index-main .section2 .phones-text h1 {
  color: #2d2a2a;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
  margin: 60px 0px;
}
.index-main .section3 .section-3-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.index-main .section3 .section-3-div div {
  margin: 10px 0px;
  padding: 0px 10px;
  text-align: center;
  transition: all 0.25s ease;
}
.index-main .section3 .section-3-div div img {
  max-width: 250px;
  transition: all 0.25s ease;
}
.index-main .section3 .section-3-div div img:hover {
  transform: scale(1.05);
}
.index-main .section3 .section-3-div div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  color: #333333;
  padding: 20px 0px;
  margin: 0px;
  transition: all 0.25s linear;
}
.index-main .section3 .section-3-div div p:hover {
  color: #777777;
}
.index-main .section3 .section-3-div div h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  color: #8e03a4;
  margin: 0px;
  transition: all 0.25s linear;
}
.index-main .section3 .section-3-div div h2:hover {
  transform: scale(1.02);
}

.footer {
  width: 100%;
  background-color: #e5e5e5;
}
.footer .footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 35px;
  height: 95px;
  border-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 900px) {
  .footer .footer-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 145px;
  }
}
.footer .footer-image img {
  height: 55px;
}
.footer .footer-location p {
  color: #929292;
  font-size: 15px;
  margin-top: 10px;
}

.scroll-on-top {
  position: fixed;
  right: 12px;
  bottom: 12px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  color: #333;
  text-align: center;
  font-size: 0;
  transition: all 1s ease;
}
.scroll-on-top i {
  font-size: 25px;
  margin-top: 10px;
  color: #333333;
  transition: all 0.25s ease;
}

.scroll-on-top:hover i {
  transform: scale(1.15);
}

.about-us-main article {
  padding: 0px 15px;
  margin: 40px 0px;
}
.about-us-main article p {
  color: #777777;
  font-size: 16px;
  line-height: 25px;
}

.contact-main .contact-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 40px 0px;
  padding: 0px 20px;
}
@media (max-width: 800px) {
  .contact-main .contact-section-1 {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-main .left {
  min-width: 350px;
  padding: 0px 20px;
}
.contact-main .left .text h1 {
  font-size: 22px;
  font-weight: 600;
  color: #2d2a2a;
  margin-bottom: 20px;
}
.contact-main .left .text li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #777777;
}
.contact-main .left .text span {
  font-weight: 600;
}
.contact-main .left .text a {
  color: #777777;
  transition: all 0.25s ease;
}
.contact-main .left .text a:hover {
  color: #9d03a4;
}
.contact-main .left .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.contact-main .left .icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #37AEE2;
  color: #ffffff !important;
  margin: 5px;
}
.contact-main .left .icons .facebook {
  background-color: #365493;
  transition: all 0.25s ease;
}
.contact-main .left .icons .facebook:hover {
  background-color: #2e487e;
}
.contact-main .left .icons .twitter {
  background-color: #3CF;
  transition: all 0.25s ease;
}
.contact-main .left .icons .twitter:hover {
  background-color: #2cafdb;
}
.contact-main .left .icons .pinterest {
  background-color: #CB2027;
  transition: all 0.25s ease;
}
.contact-main .left .icons .pinterest:hover {
  background-color: #ae1b21;
}
.contact-main .left .icons .linkedin {
  background-color: #0274B3;
  transition: all 0.25s ease;
}
.contact-main .left .icons .linkedin:hover {
  background-color: #02649a;
}
.contact-main .left .icons .telegram {
  background-color: #37AEE2;
  transition: all 0.25s ease;
}
.contact-main .left .icons .telegram:hover {
  background-color: #2f95c2;
}
.contact-main .right {
  width: 100%;
  padding: 0px 20px;
}
@media (max-width: 1000px) {
  .contact-main .right {
    padding: 0px;
  }
}
.contact-main .right .iframe {
  width: 100%;
}

.news-section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.news-section-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 33.333333%;
  padding: 10px;
  outline: dotted 1px gray;
}
.news-section-wrapper div img {
  max-width: 100%;
}
.news-section-wrapper div h1 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: auto;
  text-align: center;
  color: #2d2a2a;
}
.news-section-wrapper div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: auto;
  color: #777777;
  text-align: center;
}
.news-section-wrapper div .continiue {
  font-weight: 600;
}
.news-section-wrapper .ios17 {
  height: 535px;
}
.news-section-wrapper .new-device {
  height: 538px;
}
.news-section-wrapper .samsung-ring {
  height: 600px;
}
.news-section-wrapper .new-audi {
  height: 530px;
}
.news-section-wrapper .apple-store {
  height: 610px;
}
.news-section-wrapper .apple-2022 {
  height: 540px;
}
.news-section-wrapper .s22-sales {
  height: 300px;
}/*# sourceMappingURL=styles.css.map */