.contact-main {

    .contact-section-1 {
        @include goFlex(row, space-between, center, nowrap); 
        margin: 40px 0px;   
        padding: 0px 20px;


        @media (max-width: 800px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .left {
        min-width: 350px;
        padding: 0px 20px;
        .text {

            h1 {
                font-size: 22px;
                font-weight: 600;
                color: #2d2a2a;
                margin-bottom: 20px
            }

            li {
                @include robotoFont(400, 14px, 25px);
                color: #777777;
            }
            
            span {
                font-weight: 600;
            }
        }

        .icons {
            @include goFlex(row, flex-start, center);
            padding: 20px 0px;


            a {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #37AEE2;
                color: #ffffff !important;
                margin: 5px;
            }
        }
    }

    .right {

        @media (max-width: 1000px) {
            padding: 0px;
        }

        width: 100%;
        padding: 0px 20px;

        .iframe {
            width: 100%;
        }
    }
}