.contact-main {

    .contact-section-1 {
        @include goFlex(row, space-between, center, nowrap); 
        margin: 40px 0px;   
        padding: 0px 20px;




        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .left {
        min-width: 350px;
        padding: 0px 20px;

        @media (max-width: 800px) {
            text-align: center;
        }


        .text {

            h1 {
                font-size: 22px;
                font-weight: 600;
                color: #2d2a2a;
                margin-bottom: 20px
            }

            li {
                @include robotoFont(400, 14px, 25px);
                color: #777777;
            }
            
            span {
                font-weight: 600;
            }

            a {
                color: #777777;
                transition: all 0.25s ease;
            }
            a:hover {
                color: #9d03a4;
            }
        }

        .icons {
            @include goFlex(row, flex-start, center);
            padding: 20px 0px;


            a {
                @include goFlex(row, center, center);
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: #ffffff !important;
                margin: 5px;
            }

            .facebook {
                background-color: #365493;
                transition: all 0.25s ease;
            }
            .facebook:hover {
                background-color: #2e487e;
            }


            .twitter {
                background-color: #3CF;
                transition: all 0.25s ease;
            }
            .twitter:hover {
                background-color: #2cafdb;
            }


            .pinterest {
                background-color: #CB2027;
                transition: all 0.25s ease;
            }
            .pinterest:hover {
                background-color: #ae1b21;
            }


            .linkedin {
                background-color: #0274B3;
                transition: all 0.25s ease;
            }
            .linkedin:hover {
                background-color: #02649a;
            }


            .telegram {
                background-color: #37AEE2;
                transition: all 0.25s ease;
            }
            .telegram:hover {
                background-color: #2f95c2;
            }
        }
    }

    .right {

        @media (max-width: 1000px) {
            padding: 0px;
        }

        width: 100%;
        padding: 0px 20px;

        .iframe {
            width: 100%;
        }
    }
}