.news-main {

    .news-section {


    }
}


.news-section-wrapper {
    @include goFlex(row, space-evenly, flex-start);


    div:hover {

        box-shadow: 0 0 4px rgba(0, 0, 0, .45);

    }


    div {
        @include goFlex(column, space-between, center);
        max-width: 30.333333%;
        padding: 10px;
        margin: 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, .12);
        transition: box-shadow .35s ease;
       

        img {
            max-width: 100%;;
            transition: all 0.25s ease;
        }

        img:hover {
            transform: scale(1.01)
        }
    
        h1 {
            @include robotoFont(700, 22px,);
            text-align: center;
            color: #2d2a2a;
        }
    
    
        p {
            @include robotoFont(400, 14px);
            color: #777777;
            text-align: center;
    
    
    
        }
    
        .continiue {
            font-weight: 600;
        }
    }

    .ios17 {
        height: 530px;
    }

    .new-device {
        height: 600px;
    }

    .samsung-ring {
        height: 650px;
    }

    .new-audi {
        height: 530px;
    }

    .apple-store {
        height: 530px;
    }

    .apple-2022 {
        height: 530px;
    }

    .s22-sales {
        height: 530px;
    }



}