.phones-main {

    .section1 {
        @include goFlex(row, space-evenly, center, nowrap);


        .phones-carousel {
            max-width: 550px;
            width: 100%;

            img {
                max-width: 450px;
                width: 100%;
                transition: all 0.3s ease;
            }

            img:hover {
                transform: scale(1.05)
            }

        

        }

        .phones-information {
            @include goFlex(column, space-between, flex-start);
            margin-top: 70px;
            
            .text {
                width: 600px;

                h1 {
                    @include robotoFont(600, 34px);
                    color: #2d2a2a;
                    text-align: center;
                    margin-bottom: 20px;

                    @media (max-width: 1024px) {

                        margin-bottom: 15px;
                        font-size: 24px;
                    }

                    @media (max-width: 768px) {

                        font-size: 20px;
                    }
                }

                p {
                    padding: 5px 0px;
                }

                .top {


                    .storage {
                        @include robotoFont(400, 14px);
                        color: #222222;
                    }

                    .in-storage {
                        color: green;
                    }
    
                    .condition-p {
                        @include robotoFont(400, 14px);
                        color: #222222;
    
                        span {
                            font-weight: 600;
                        }
                    }
                }

                .bottom {
                    border-top: 1px dashed #dedede;
                    padding-top: 10px;
                    margin-top: 30px;
                    text-align: left;

                    .with-phone {
                        @include robotoFont(600, 16px);
                        color: #777777;
                        margin-bottom: 20px
                    }
    
                    .usb {
                        @include robotoFont(400, 13px);
                        color: #777777;
                    }
    
                    .screen-protector {
                        @include robotoFont(600, 13px);
                        color: #000000;
                        margin-bottom: 20px
                    }
    
                    .delivery {
                        @include robotoFont(600, 13px);
                        color: #000000;
                        margin-bottom: 20px
                    }
                }
            }

            .condition {
                @include goFlex(column, space-between, flex-start);



                button {
                    @include goFlex(row, space-between, center);  
                    vertical-align: middle;  
                    margin: 0;
                    padding: 0;
                    transition: all 0.4s ease;

                    appearance: none;
                    background: none;
                    outline: none;
                    border: none;

                    div {
                        width: 250px;
                        height: 100px;
                        border: 1px solid #dedede;  
                        border-radius: 10px;
                        margin: 5px 0px;
                        transition: all 0.4s ease;

                        h1 {
                            color: #777777;
                            font-weight: bold;
                            transition: all 0.4s ease;
                        }

                        h2 {
                            color: #777777;
                            font-weight: bold;
                            transition: all 0.4s ease;
                        }

                        p {
                            color: #777777;
                            font-weight: bold;
                            transition: all 0.4s ease;
                        }
                    }

                    .left {
                        @include goFlex(row, space-evenly, center);
                        margin-right: -1px;
                        border-radius: 5px 0px 0px 5px;

                        h1 {
                            font-size: 50px;
                        }

                        p {
                            font-size: 12px;
                            max-width: 150px;
                        }
                    }

                    .right {
                        @include goFlex(column, space-around, center);
                        border-radius: 0px 5px 5px 0px;

                        h2 {
                            font-size: 20px;
                        }
                    }
                }

                button:hover {
                    div {
                        background-color: #8e03a4;
                    }
                    
                    h1 {
                        color: #fff;
                    }

                    h2 {
                        color: #fff;
                    }

                    p {
                        color: #fff;
                    }
                }   

                .price-btn.clicked {

                    div {
                        background-color: #8e03a4;
                    }

                    h1 {
                        color: #fff;
                    }

                    h2 {
                        color: #fff;
                    }

                    p {
                        color: #fff;
                    }

                }
            }

            .payment {

                .payment-text {
                    @include robotoFont(400, 16px);
                    color: #777777;
                    text-align: center;
                    margin: 25px;
                }


                .payment-images {
                    @include goFlex(row, space-between, center);


                    img {
                        border: 1px solid #dedede;
                        height: 50px;
                        margin: 10px;
                        padding: 10px;
                        transition: all 0.3s ease;
                    }
    

                    .bog {
                        background-color: #ff600a;
                    }

                    img:hover {
                        transform: scale(1.1)
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {

        .section1 {
            flex-wrap: wrap
        }

        .phones-carousel {
            @include goFlex(column, center, center);
            
            img {
                margin-top: 70px
            }
        }

        .phones-information {
            justify-content: space-evenly !important;
            align-items: center !important;
        }

        p {
            text-align: center;
        }


    }

    .section2 {
        @include goFlex(column, space-between, flex-start);
        margin-bottom: 50px;

        border-top: 1px solid rgba(129, 129, 129, .2);
        padding-top: 40px;

        .section-2-text {
            width: 100%;
            max-width: 1160px;
            border-top: 2px solid rgba(119, 119, 119, .17);
            border-bottom: 1px solid rgba(119, 119, 119, .17);
            margin: 0px 20px 10px;

            h1 {
                @include robotoFont(600, 16px);
                display: block;
                color: #333333;
                padding-top: 20px;
                padding-bottom: 20px;
                transition: all .35s ease;
            }

            h1:hover {
                color: #8e03a4;
            }
        }

        .comment-div {
            @include goFlex(row, flex-start, flex-start);
            width: 100%;

            .left {

                .left-div {
                    max-width: 500px;
                    width: 100%;
                    height: auto;
                    border: 2px dashed #dedede !important;
                    border-radius: 10px;
                    padding: 10px;
                    margin: 10px 20px;
                }

                .comment-wrap {
                    @include goFlex(row, flex-start, center);

                    .img-div {
                        border: 2px solid #dedede !important;
                        border-radius: 3px !important;
                        padding: 4px 4px 0px;
                        margin: 0px 25px 0px 0px;

                        img {
                            max-width: 50px;

                        }
                        
                    }


                    .text-wrap {
                        @include goFlex(column, space-between, flex-start);
                        max-width: 350px;

                        p {
                            @include robotoFont(400, 15px, 1.5);
                            color: #777;
                            margin: 8px 0px;
                                
                        }

                        strong {
                            @include robotoFont(600, 16px);
                            color: #2d2a2a;
                        }

                        span {
                            font-style: italic;
                        }
                    }
                }
            }

            .right {
                @include goFlex(column, space-between, center);
                max-width: 550px;
                margin-left: 100px;

                .description {
                    h1 {
                        @include robotoFont(400, 16px);
                        color: #777;
                    }
                }

                .comment-text {
                    @include goFlex(column, flex-start, flex-start);
                    width: 100%;
                    margin: 25px 0px;

                    textarea {
                        width: 100%;
                        max-width: 570px;
                        font-size: 14px;
                        transition: border-color .5s ease;
                        overflow: auto;
                        padding: 10px 15px;
                        min-height: 190px;
                        border-radius: 10px;
                        border: 2px dashed #dedede;
                    }

                    textarea:focus {
                        outline: none;
                    }
                }

                .user-mail {
                    @include goFlex(row, space-between, center);
                    width: 100%;

                    .input-text {
                        @include goFlex(column, space-between, flex-start);
                        width: 48%;

                        label {
                            color: #464646;
                            font-size: 16px;
                            margin-bottom: 15px;
                        }

                        input {
                            border-radius: 10px;
                            border: 2px dashed #dedede;
                            padding: 0 15px;
                            width: 100%;
                            height: 42px;
                            transition: border-color .5s ease;
                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }

                .bottom-text {
                    margin-top: 20px;

                    label {
                        color: #464646;
                        font-size: 16px;
                        margin-bottom: 14px;
                    }

                    .submit {
                        padding: 12px 20px;
                        margin: 10px 5px;
                        border-radius: 5px;
                        color: white;
                        font-weight: 600;
                        background-color: #8e03a4;
                        border-radius: 3px;
                        outline: none;
                        border: none;
                        transition: all 0.3s ease;


                    }

                    input:hover {
                        background-color: purple;
                        transform: scale(1.05);
                    }
                }

                span {
                    color: #E01020;
                    font-size: 16px;
                }
            }
        }


    }
}